<section id="portfolio">
    <div class="row">
        <div class="twelve columns collapsed">
            {{ page.content }}
            <div id="portfolio-wrapper" class="bgrid-quarters s-bgrid-thirds cf">
                {% for item in page.header.portfolio %}
                {% set image = item.thumb ?? ((item.img is iterable) ? item.img[0] : item.img) %}
                <div class="columns portfolio-item align-center">
                    <div class="item-wrap">
                        <a href="#modal-{{ loop.index }}" title="">
                            {{ page.media[image].cropZoom(215, 215).html() }}
                            <div class="overlay">
                                <div class="portfolio-item-meta">
                                    <h5>{{ item.title }}</h5>
                                    <p>{{ item.description }}</p>
                                </div>
                            </div>
                            <div class="link-icon"><i class="fa fa-plus"></i></div>
                        </a>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
        {% for item in page.header.portfolio %}
        <div id="modal-{{ loop.index }}" class="popup-modal mfp-hide">
            {% set images = (item.img is iterable) ? item.img : [item.img] %}
            {% if images|length > 1 %}
            <div class="owl-carousel owl-theme">
                {% for img in images %}
                    <img src="{{ page.media[img].url }}" alt="" />
                {% endfor %}
            </div>
            {% elseif not images|empty %}
                <img src="{{ page.media[images[0]].url }}" alt="" />
            {% endif %}
            <div class="description-box col-group">
                {% set sidebar = item.platforms or item.technologies %}

                <div class="col-mb-12 {{ sidebar ? 'col-8' }}">
                    <div class="col-12">
                        <h4>{{ item.title }}</h4>
                        <p>{{ item.content }}.</p>
                    </div>
                    {% if item.responsibilities %}
                    <div class="col-12">
                        <h4>Responsibilities</h4>
                        <p>{{ item.responsibilities }}</p>
                    </div>
                    {% endif %}
                </div>

                {% if sidebar %}
                <div class="col-mb-12 col-4 col-group">
                    {% if item.platforms %}
                    <div class="col-mb-6 col-12">
                        <h4>Platforms</h4>
                        <p>
                            <ul>
                            {% for platform in item.platforms %}
                                {% if platform.url %}
                                <li><a href='{{ platform.url }}'>{{ platform.title }}</a></li>
                                {% else %}
                                <li>{{ platform.title }}</li>
                                {% endif %}
                            {% endfor %}
                            </ul>
                        </p>
                    </div>
                    {% endif %}

                    {% if item.technologies %}
                    <div class="col-mb-6 col-12">
                        <h4>Technologies</h4>
                        <p>
                            <ul>
                                {% for technology in item.technologies %}
                                <li>{{ technology }}</li>
                                {% endfor %}
                            </ul>
                        </p>
                    </div>
                    {% endif %}
                </div>
                {% endif %}

                {% if item.tags %}
                <div class="col-12">
                    <span class="categories"><i class="fa fa-tag"></i>{{ item.tags }}</span>
                </div>
                {% endif %}
            </div>
            <div class="link-box">
                {% for link in item.links %}
                <a href="{{ link.url }}">{{ link.title }}</a>
                {% endfor %}
                <a class="popup-modal-dismiss">Close</a>
            </div>
        </div>
        {% endfor %}
    </div>
</section>
